[submodule "thirdparty/speedykeyv"]
	path = thirdparty/speedykeyv
	url = https://github.com/ozxybox/SpeedyKeyV
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "thirdparty/KTX-Software"]
	path = thirdparty/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "thirdparty/fast_obj"]
	path = thirdparty/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "thirdparty/mimalloc"]
	path = thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "thirdparty/ImGuizmo"]
	path = thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
